@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin');

@media (max-width: 360px) {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: #1f1f1f;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

div {
	background: transparent;
	border: 0;
	margin: 10px 0 0 0;
	padding: 5px 10px;
}

label[for=numberFrames],
label[for=frameRate],
label[for=timecode] {
	font-size: 14px;
	color: gray;
}

input[type=number]::placeholder,
input[type=text]::placeholder {
	color: gray;
}

input[type=number],
input[type=text],
select {
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	color: #fff;
	outline: none;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select:hover {
	appearance: auto;
	-webkit-appearance: auto;
	-moz-appearance: auto;
}

select option {
	background: #282828;
}

select option:checked,
select option:hover {
	background: gray;
	box-shadow: 0 0 10px 100px gray inset;
}

select optgroup {
	background: #282828;
	color: gray;
	font-size: 32px;
	font-weight: lighter;
}

select optgroup option {
	color: #fff;
	font-size: 40px;
}

.wrapper {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.inner-form {
	margin: 0;
}

.main-content {
	background-color: #282828;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	height: 440px;
	padding: 10px;
	width: 280px;
}

.main-title {
	padding: 0px 0px;
	font-size: 20px;
	font-weight: 600;
	height: 20px;
	letter-spacing: 1px;
	text-align: center;
}

.input-field,
.select-list,
.timecode-field {
	border: 1px solid rgba(255, 255, 255, 0.1);
	height: 65px;
	padding: 5px 0 5px 5px;
}

.input-field:hover,
.select-list:hover,
.timecode-field:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: .2s;
}

#numberFrames,
#frameRate,
#timecode {
	margin: 4px 0;
	font-size: 40px;
	height: 40px;
	letter-spacing: 1.5px;
	padding: 0;
	width: 100%;
}

.choice_block {
	height: 50px;
	margin: 0;
	padding: 5px 0 0 0;
	width: 100%;
}

.choice_block .form-radio {
	margin: 0;
	padding: 0;
	border: none;
}

.choice_block .form-radio input[type=radio] {
	cursor: pointer;
	margin: 4px 0;
	height: 20px;
	width: 20px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.choice_block .form-radio input[type=radio]:checked {
	accent-color: #ffa500;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.choice_block .form-radio input[type=radio]:not(:checked) {
	opacity: 0.1;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.choice_block .form-radio label {
	display: inline-block;
	cursor: pointer;
	font-size: 17px;
	position: absolute;
	padding-left: 5px;
	margin: 4px 0px;
	user-select: none;
}

.timecodeViewLabel {
	padding: 0px;
	font-size: 14px;
	color: gray;
}

.button_block {
	height: 50px;
	padding: 5px 0 0 0;
	width: 100%;
}

.button_block button {
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	padding: 0;
	position: relative;
	height: 40px;
	width: 128px;
}

.button_block button:hover {
	background-color: #3b3b3b;
	opacity: 0.8;
	transition: .2s;
}

.button_block button:disabled {
	background-color: gray;
	color: #282828;
	cursor: not-allowed;
	opacity: 0.6;
}
